
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.prettierignore
.prettierrc
.env
.env.*
.ds_store
.log
Thumbs.db
.idea

# Saved login session (storageState)
auth-file/
